.zara{
    margin-left: 100px;
    position: sticky;
    top: 10px;
}
.btn1{
    margin-left: 100px;
    border-radius: 0%;
    background-color: white;
    width: 100px;
    height: 27px;
}
.btn2{
    margin-left: 5px;
    border-radius: 0%;
    background-color: white;
    width: 70px;
    height: 27px;
}
.row1{
    flex-direction: right;
    display: flex;
    margin-left: -10px;
}
.row2{
    flex-direction: right;
    display: flex;
    justify-content: center;
    margin: 400px;
    padding: 250px;
    justify-content: space-around;
    margin-top: -150px;
}
.row3{
    flex-direction: right;
    display: flex;
    justify-content: center;
    margin: 400px;
    padding: 250px;
    display: flex;
    justify-content: space-around;
    margin-top: -850px;
}
.col{
    padding: 10px;
}
.name1{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 2px;
}
.price1{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: -10px;
}
.name2{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 2px;
}
.price2{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: -10px;
}
#search{
    margin-left: 1200px;
    margin-top: -100px;
    position: sticky;
    top: 10px;
}
.row4{
    flex-direction: right;
    display: flex;
    margin-left: 120px;
    margin-top: -500px;
}
.name3{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 2px;
}
.price3{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: -10px;
}
.name4{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 2px;
}
.price4{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: -10px;
}
.row5{
    flex-direction: right;
    display: flex;
    margin-left: 250px;
    margin-top: 90px;
}
.name5{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 2px;
}
.price5{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: -10px;
}
.row6{
    flex-direction: right;
    display: flex;
    margin-left: 400px;
    margin-top: 100px;
}
footer{
    font-size: 10px;
    margin-left: -600px;
    margin-top: 100px;
}
.row7{
    flex-direction: right;
    display: flex;
    justify-content: space-evenly;
    margin: 250px;
    margin-top: 100px;
}
.name6{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 2px;
}
.price6{
    font-size: 10px;
    height: auto;
    width: auto;
    margin-left: 0px;
    margin-top: -10px;
}
.btn3{
    border-radius: 0px;
    height: 20px;
    margin-left: 630px;
    font-size: 12px;
}